{include file="template/blog/page_start.html"}
<dl>
    <dt>评论管理</dt>
    <dd class="comment">
        {$comment_html}
    </dd>
</dl>
{literal}
<style type="text/css">
    .comment table{width:100%;}
    .comment table td, .comment table th{border:1px solid #ddd;}
</style>
<script type="text/javascript">
    $(function(){
        $('.comment .c-del').live('click', function(){
            var $this = $(this);
            $.ajax({
                url:'/?r=admin&a=comment&action=del&id='+$this.data('id'), 
                type:'POST',
                success:function(data){
                    if(data.status == 0){
                        $this.parents('tr').fadeOut();
                    }
                },
                dataType:'json'
            });
            return false;
        });
    });
</script>
{/literal}
{include file="template/blog/page_end.html"}

