<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width" />
        <title><%=page_title%>_微讽网_WIFENG.CN</title>
        <link rel="stylesheet" href="css/wf.css" type="text/css" />
    </head>
    <body>
        <div id="top"></div>
        <div id="page">
            <div id="head">
                <a id="logo" href="/?r=blog"><img src="css/logo.gif" alt="WIFENG.CN" /></a>
                <ul>
                    <li><a href="/?r=blog">首页</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <dl>
                <dt>错误</dt>
                <dd>
                    <div class="error"><%=error%></div>
                </dd>
            </dl>
            <!--#include file="page_end.html"-->
