{include file="page_start.html"}

{foreach $posts as $i=>$p}
{$i} {$p.id} <a href="/?a=view&id={$p.id}">{$p.title}</a> <br>
{foreachelse}
<div>暂无数据</div>
{/foreach}

{if $page.isFirst}
    <b>首页</b>
{else}
    <a href="/?a=list&p=1">首页</a>
{/if}

{if $page.hasPrev}
<a href="/?a=list&p={$page.current-1}">上一页</a>
{else}
<span>上一页</span>
{/if}
{foreach $page_numbers as $i=>$n}
{if $n == $page.current}
<b>{$n}</b>
{else}
<a href="/?a=list&p={$n}">{$n}</a>
{/if}
{/foreach}
{if $page.hasNext}
    <a href="/?a=list&p={$page.current+1}">下一页</a>
{else}
    <span>下一页</span>
{/if}
{if $page.isLast}
    <b>尾页</b>
{else}
<a href="/?a=list&p={$page.total}">尾页</a>
{/if}

{include file="page_end.html"}


