<!--#include file="page_start.html"-->
<dl>
    <dt><% if(is_add){ %>添加文章<%} else {%>编辑文章<% } %></dt>
    <dd>
        <form action="/?r=admin&a=<% if(is_add){ %>add<% }else{ %>edit&id=<%=post.id%><% } %>" method="post">
            <div style="margin-bottom:10px;"><input type="text" name="title" class="title" value="<% if(is_edit){ %><%=F.encodeHTML(post.title)%><%}%>" /></div>
            <div><textarea name="content" class="content"><% if(is_edit){ %><%=F.encodeHTML(post.content)%><%}%></textarea></div>
            <div style="margin-top:10px;"><input type="submit" value="提交" /></div>
        </form>
    </dd>
</dl>
<script src="js/jquery.selection.js" type="text/javascript"></script>
<script src="js/jquery.coder.js" type="text/javascript"></script>
<script src="js/jquery.snippets.html.js" type="text/javascript"></script>
<script src="js/jquery.snippets.markdown.js" type="text/javascript"></script>
<script src="js/jquery.dictionary.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('.content').coder({fileType:'html'});
    });
</script>
<!--#include file="page_end.html"-->
