<!--#include file="page_start.html"-->
<style type="text/css">
    .post-list li span{font-size:12px;margin-left:10px;color:#999;}
</style>
<dl>
    <dt>所有文章</dt>
    <dd>
        <ul class="post-list">
            <% for(var i=0; i<list.length; i++){ %>
            <li>
                <%if (is_login){ %><a href="/?r=admin&a=edit&id=<%=list[i].id%>">[编辑]</a><% } %>
                <a href="/?r=blog&a=view&id=<%=list[i].id%>"><%=list[i].title%></a>
                <span><%=F.date.toISOString(new Date(list[i].create_time*1000))%></span>
            </li>
            <% } %>
        </ul>
    </dd>
</dl>

<dl>
    <dt>作品</dt>
    <dd>
        <div class="adoc">
            <h3>代码编辑器</h3>
            <ul>
                <li>支持tab缩进、代码片段替换</li>
                <li>单词自动完成</li>
                <li>撤销、重做</li>
                <li>选择行、删除行、删除单词等等常用操作...</li>
            </ul>
            <p><a target="_blank" href="/js/coder.html">查看示例</a></p>

            <h3>asp编程框架: f-asp-javascript</h3>
            <ul>
                <li>使用Javascript，熟悉前端的同学更容易入门</li>
                <li>MVC模式</li>
                <li>文件处理、上传类</li>
                <li>数据库连接、数据操作类、导入导出sql</li>
                <li>使用javascript Smarty模板</li>
            </ul>
            <p><a target="_blank" href="http://code.google.com/p/f-asp-javascript/">项目地址</a></p>
        </div>
    </dd>
</dl>
<!--#include file="page_end.html"-->

