<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>{$page_title}</title>
        <link rel="stylesheet" href="css/wf.css" type="text/css" />
        <script src="js/jquery.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="page">
            <div id="head">
                <a id="logo" href="/?r=blog"><img src="css/logo.gif" alt="WIFENG.CN" /></a>
                <ul class="btn">
                    {if $is_login}
                    <li><a href="/?r=admin&a=logout">退出</a></li>
                    <li><a href="/?r=admin&a=add">添加文章</a></li>
                    <li><a href="/?r=admin&a=repair">修复数据库</a></li>
                    <li><a href="/?r=admin&a=xml">导出XML</a></li>
                    <li><a href="/?r=admin&a=removecache">清空缓存</a></li>
                    {else}
                    <li><a href="/?r=admin&a=login">登录</a></li>
                    {/if}
                </ul>
            </div>
            <div id="nav">
                <div class="rl">
                    <div class="rr">
                        <ul>
                            <li class="{if $is_home}on{/if}"><a href="/?r=blog">首页</a></li>
                            {if $is_view}<li class="on"><a href="#">查看</a></li>{/if}
                            {if $is_add}<li class="on"><a href="#">添加</a></li>{/if}
                        </ul>
                    </div>
                </div>
            </div>
