body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,button,p,pre,form{margin:0;padding:0;}
body{font-size:14px;font-family:arial;background:#9ACACE;}
ul{zoom:1;}
img{border:none;vertical-align:middle;}
a{text-decoration:none;color:#2F305F;}
a:visited{}
a:hover{text-decoration:underline;color:red;}
li{list-style:none;}

input{font-size:18px;line-height:22px;}
dl{border:1px solid #ddd;background:#fff;margin:10px 5px 0 5px;border-radius:3px;}
dt{line-height:35px;font-size:18px;padding-left:10px;color:#2F305F;
    font-family:"Microsoft YaHei";margin:1px;font-weight:bold;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); 
}
dd{border-top:none;padding:0 10px 10px 10px;line-height:1.6em;}
dd pre{border:1px solid silver;padding:3px;margin:5px 0;color:#100;
    background:#f9f9f9;font:12px/18px  Consolas, 'Courier New';
    white-space: pre-wrap;white-space: -moz-pre-wrap;white-space:-pre-wrap;
    white-space: -o-pre-wrap;word-wrap: break-word;}

.center{text-align:center;}
.clear{height:0;clear:both;font-size:0;line-height:0;overflow:hidden;}
.error{font-size:12px;padding:3px;margin:5px 0;background:#FFF5FA;border:1px solid #F8B3D0;}
.tip{font-size:12px;padding:3px;margin:5px 0;background:#FFFFF7;border:1px solid #FC0;}

#top{background:#333;height:36px;border-bottom:1px solid #000;box-shadow:0 2px 5px #999}
#page{_width:960px;max-width:960px;min-width:460px;margin:-37px auto 0 auto;}
#head{position:relative;text-align:right;padding-left:150px;clear:both;color:#fff;}
#logo{position:absolute;top:1px;left:0;}
#logo img{height:35px;}

#head ul{height:26px;padding-top:5px;font-family:"Microsoft YaHei";float:left;margin-left:10px;}
#head li{background:#333;float:left;height:26px;line-height:26px;border-radius:3px;
         margin-right:3px;padding-left:5px;cursor:pointer;overflow:hidden;}
#head li a{display:block;padding-right:5px;color:#aaa;}
#head li a sup{color:red;font-weight:bold;}
#head li.on{background:#666;}
#head li a:hover{text-decoration:none;color:#ddd;}

#foot{text-align:center;padding:30px 0;color:#7777CC;}
#foot span{font-size:10px;color:#ddd;}

input.title, textarea.content{width:99%;font-family:Consolas, Monaco, "Courier New", Courier;}
input.title{}
textarea.content{height:500px;font-size:14px;line-height:18px;}

.adoc{line-height:1.5em;font-size:14px;word-break:break-all;word-wrap:break-word;color:#222;position:relative;}
.adoc h1,.adoc h2,.adoc h3,.adoc h4,.adoc h5{color:#111;font-family: Georgia, serif;font-weight:700; margin-top:0.5em;}
.adoc h1{font-size:1.6em;line-height:1;margin-bottom:1em;}
.adoc h2{font-size:1.2em;margin-bottom:0.5em; color:#AF183F;}
.adoc h3{font-size:1.1em;line-height:1;margin-bottom:0.5em; color:#49138D;}
.adoc h4{font-size:1em;line-height:1.25;margin-bottom:0.5em; color:#13538D;}
.adoc h5{font-size:1em;font-weight:700;margin-bottom:0.5em; color:#638D13;}
.adoc h6{font-size:1em;font-weight:700;}
.adoc h2, .adoc h3, .adoc h4, .adoc h5, .adoc h6 {color: #4e5f72; padding: 3px}
.adoc h2 {background: #84a1c1; color: #fff; text-shadow: 0 1px 0 #444;}
.adoc h3 {background: #cddae8; color: #2d3742; text-shadow: 1px 1px 0 #fff;}

.adoc strong{color:#AF183F;font-weight:bold;}
.adoc table{border-right:1px solid #8CACBB;border-bottom:1px solid #8CACBB;}
.adoc tr:hover{background:#F3FAFA;}
.adoc th{white-space:nowrap;background:#DEE7EC;}
.adoc td,.content th{border-top:1px solid #8CACBB;border-left:1px solid #8CACBB;padding:0.1em 0.5em;}
.adoc code{background:#ddd;font-family:Consolas, Monaco, "Courier New", Courier, monospace;}
.adoc pre{overflow:auto;word-wrap:break-word;color:#070606;background:whiteSmoke;padding:.5em .5em .5em 1em;
          margin:0.5em 0;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;
		  border:1px dotted #b7c4d3;zoom:1;-moz-border-radius:3px;-webkit-border-radius:3px;}
.adoc pre code{background:none;}
.adoc pre.adoc-sy{padding:0;}
.adoc em{font-weight:bold; font-style:normal;}
.adoc img {max-width:95%;padding:1px;border:1px solid #ddd;}
.adoc p{margin:0.8em 0;}
.adoc ul, .adoc ol{margin:0.8em 2em;}
.adoc li{list-style:circle;}

.adoc .adoc_title{margin:0;text-shadow:#ddd 0px 1px 0px;font-size:2em;line-height:1.5;}
.adoc .adoc_author{font-family:Georgia,serif;}

.comment ul li{list-style:decimal inside;background:#eee;padding:3px;margin:5px 0;line-height:1.8em;border-radius:4px}
.comment li.just{background:#ffc;}
.comment li span{float:right;margin-left:5px;color:#999;}
#commentc_error{display:none;margin-bottom:10px;background:#fff;color:red;padding:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

